<div class=" container accordion accordion-flush" style="margin-top:160px" id="accordionFlushExample">
    <h1>CAREERS</h1>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <b> The incomplete circles</b>
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Three young Engineering graduates: Kirit, Saju, and Gopal – like the now-famous
                “3 idiots” - were freshly out from the University Oven. All set to make their careers in Information
                Technology. Their parents have been looking forward to them getting good jobs with fat paychecks and
                getting married to cute young girls from well-to-do families. Then, everyone would live happily forever.

                All set.
                Kirit applies to various companies and gets many offers. A top company offers him a good pay package,
                and he laps it up.

                Saju and Gopal apply to comparatively smaller companies and manage to bag reasonable pay packages.

                After 18 months on the job, Kirit’s salary increases, making enough to settle down to married life. His
                parents couldn’t be happier. They have started looking for a suitable match. Things are going according
                to plan.
                But Kirit is restless. He has been drawing screens all day at work for so many months that he sees
                screens in his sleep. His career seems to have gotten stuck on screens. He is afraid he knows nothing
                about development tools.
                When he speaks to Saju and Gopal, he feels left out despite being with a top-of-the-line IT company. He
                is resisting marriage. All he can think of is moving to the development section. Even a smaller company
                would be acceptable to him. What if they don't accept him even though he is willing to climb down on his
                salary? Is it too late?
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <b> Completing the circles</b>
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Chasing one tool after another in the rapidly evolving tech world can leave deep dissatisfaction in IT
                developers who feel like an incomplete circle.

                The next logical question, perhaps, is, how does one complete the circle?

                The straightforward answer would be: The junior developer must get an opportunity to develop and
                complete the circle. This means they must get employment with a company that cares for them – for their
                development professionally.

                But the actual solution isn’t so straightforward. There are very few companies that are inclined to give
                such opportunities to junior developers.

                Why is that the case?

                Most companies find it cheaper to pay higher salaries.

                That sounds funny, isn’t it? How can a company pay a higher salary and say this is cheaper? Let us
                examine it…

                A genuine concern for the junior developer (let us call them a “growing professional” or “GP”) lies in
                improving their skillset and knowledge in the field. What does this mean for companies? It means
                training the “GP” in newer areas of technological development. This also allows them to be mentored to
                move to higher-level jobs.

                Everyone knows that fresh graduates do not have adequate skills and knowledge of the professional world.
                They can build amateur programs, which is vastly different from professional work. They have to be
                trained well before reaching a professional skill level.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <b>Completing the circles at SBNT</b>
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">At SBNT, we believe in upskilling and systematic training of new recruits and
                juniors.

                Developments in technology are made available to all regularly. We consider it our responsibility to
                provide the opportunity for the conscientious and willing to grow and develop professionally through
                learning and practicing higher skills and grooming and mentoring them adequately.

                This holds true not only for developers but also for those in other areas of work. At SBNT, we believe
                in ensuring that those who care to grow professionally have an opportunity to do so. Being involved in
                the end-to-end functioning of a software system, the 360-degree view and experience are unique – it is
                an excellent enabler of professional development. </div>
        </div>
    </div>
</div>