<div class="margin">
    <img src="../../assets/images/crew.jpg" alt="crew" class="bg">
</div>
<div class="container">
    <h1 class="heading">Ship Crew Management System & Payroll Software</h1>
    <div class="container">
        <p class="context">
            The feature rich Ship Crew Management System and maritime payroll software by SHIPMATE is ideal for small,
            medium and large fleet owners and managers. The fleet management software is an imperative tool that helps
            you implement effective management. The vessel management system addresses both basic and advanced needs of
            Ship Fleet Owners, Ship Managers (main fleet, offshore, tugs and boats) and Manning/Crewing companies (main
            fleet, shipyards and yachts) alike. The Crew Management System helps with managing the documents and
            certificates of the crew, hence efficiently taking up the role of a crew document management system,
            fulfilling the requirements of ship fleet owners, manning/crewing companies, and ship managers.
        </p>
        <p class="context">
            In addition to the document management capabilities, the ship management system helps with the operations
            part such as performing crew planning, crew appraisals, allotments as well as P&I. The ship crew management
            software connects your office as well as the CMS onboard your fleet. Crew wages, overtime, leave pay, cash
            to master, allotment and other expenses can be easily calculated with the integration of a payroll module
            through the CMS of this vessel management software. The custom crew management software from SHIPMATE is
            also compatible with Filipino wage computation as per POEA. SHIPMATE maritime crew management software
            offers the versatility to control all operations distinctive to Western or Eastern ship management styles.
            With this effective ship fleet management software in place, the crew management simply becomes an easy task
            at hand.</p>
    </div>
</div>

<div class="background">
    <div class="container">
        <h1 class="header">Features of SHIPMATE Crew Management System and maritime payroll processing software for
            Ships</h1>
        <ul>
            <li>Store, manage and print CVs, crew list and other basic data.</li>
            <li>Compatible with multiple formats to print CVs and crew lists</li>
            <li>Use predefined templates to create employment contracts</li>
            <li>Manage briefing, debriefing and pre-departure crew lists</li>
            <li>Manage, store and email scanned documents.</li>
            <li>Get alert notifications, thanks to the efficient ship certificate management system</li>
            <li>On-time PR computation with 100% accuracy</li>
            <li>Graphical seafarers planning based on DOA/Relief due up to a timeframe of 3 years. Integrates with
                Seafarer OCIMF (experience) matrix.</li>
            <li>Analysis of compliance requirements related to company, flag, owner, vessel type, STCW.</li>
            <li>Manage performance appraisal, promotion/demotion of seafarers</li>
            <li>Data analysis & MIS reporting</li>
            <li>Aids management of medical insurance of seafarer</li>
            <li>Organize training for seafarers</li>
            <li>Manage and track illness or injury, P&I claims and their status</li>
            <li>Design forms, reports and letters based on customer requirements</li>
        </ul>
    </div>