<div class="container">
    User ID:
    {{regid}}
    <h1>Your booking info</h1>
    <table class="table table-hover table-responsive">
        <caption>
        </caption>

        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">address</th>
                <th scope="col">Product Booked</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of viewVal">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.address}}</td>
                <td>{{user.product}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-seconary bi bi-arrow-left" (click)="goBack()"> Back</button>
</div>