<div class="container">
    <h1>Your booking info</h1>
    <table class="table table-hover table-responsive">

        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">address</th>
                <th scope="col">Product Booked</th>
                <th scope="col">Cancel Booking</th>
            </tr>
        </thead>

        <tbody>
            <td>{{obj1}}</td>
            <td>{{obj2}}</td>
            <td>{{obj3}}</td>
            <td>{{obj4}}</td>
            <td>{{obj5}}</td>

            <!-- <td><button (click)="deleteBooking()">Cancel Booking</button></td> -->


        </tbody>
    </table>
    <button class="btn btn-seconary bi bi-arrow-left" (click)="goBack()"> Back</button>
</div>