<img src="../../assets/images/harbour.jpg" alt="harbour">

<div class="container">
    <h1 class="about">ABOUT SHIPMATE</h1>
    <p class="content">Over the years we have garnered the trust and affection of our clients and in return, they have
        helped us develop
        new products to complete an entire Maritime ERP Suite that solve real time problems faced by the marine industry
        and today we are a company with products tested and used by several Large, Medium and Small Ship and Crew
        management companies.</p>

    <table class="table table-light table-hover">
        <caption>

        </caption>
        <thead>
            <tr>
                <th scope="col">Slno</th>
                <th scope="col">Year</th>
                <th scope="col">Acheivements</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <th scope="row">1</th>
                <td>1996</td>
                <td class="bi bi-building">Company Formed</td>
            </tr>
            <tr class="table-primary">
                <th scope="row">2</th>
                <td>1997</td>
                <td class="bi bi-bar-chart-line-fill">Asian Financial Crisis</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">3</th>
                <td>1997</td>
                <td class="bi bi-people-fill">First Client</td>
            </tr>
            <tr class="table-success">
                <th scope="row">4</th>
                <td>2008</td>
                <td class="bi bi-globe">World Economic Meltdown</td>
            </tr>
            <tr class="table-danger">
                <th scope="row">5</th>
                <td>2009</td>
                <td class="bi bi-">Installed on <strong>250 </strong>ships</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">6</th>
                <td>2015</td>
                <td>Crossed 500 on board installations</td>
            </tr>
        </tbody>
    </table>
</div>