<div class="container">
    <h1 class="heading">CASE STUDIES</h1>
    <h1 class="heading1">Management of Resistance</h1>
    <p class="content ">MS shipping, Cyprus had their system rollout in progress. One of the major hiccups was
        getting
        approvals for Overtime and Lashing bonuses from Superintendents, who are usually traveling and overloaded with
        work. The traditional computerized system could be accessed by laptop or by a tablet for approval. While
        superintendents in the office had no issues, the traveling superintendents resisted the extra work of looking up
        the system. A simple authorization module was built into a mobile based module and got quick acceptance and
        Resistance melted away.</p>
    <hr>
    <h1 class="heading1">A New Product - Never Say Die</h1>
    <p class="content">A Ship with not-publicized equipment (designed by a naval architect’s company in Norway) was
        under construction by a Shipyard for a customer DR organization, whose identity was to be kept confidential.
        SBNT was the chosen vendor for its PMS software. One special requirement was to be able to have a “bundled”
        simple technical software in addition to regular PMS. This was to be installed on a Tablet for ease of mobility
        on board and be able to record and communicate with onboard PMS which in turn would communicate with office
        installation.

        Successfully implemented with a new auxiliary product.</p>
    <hr>
    <h1 class="heading1">A Challenge Not Attempted Easily</h1>
    <p class="content">ML company, Tokyo has 28 offices worldwide using SBNT's former system. Migrating to the new
        web-based system with 28 offices worldwide (different time zones) is a task NOT done nor attempted by anyone
        else. The company has the largest database in shipping in terms of number of seafarers and size of database.
        Apart from Data migration and training all the 320+ users to handle the system comfortably were challenges. But
        the Most crucial one was to get them all to sign off on Friday pm on the system (some office would sign off much
        later into the night of Friday due to geographical location and assuming no ate working in Friday); and all of
        them signing into the new system on Monday am and know what exactly to do to carry on the work seamlessly. The
        first office opening on Monday would be early and quite different one from the one signing off last on Friday.
        And the entire system took just 10 days to stabilize.</p>
    <hr>
    <h1 class="heading1">Change Management - Worth a Nobel Prize!</h1>
    <p class="content">BSY Ship Mgmt. company, Hamburg, a huge conglomerate with several independent ship management
        companies had several sources of truth. Each office handling a seafarer had differing data about the same person
        – apart from duplicates and open dates.

        Implementing a crewing system across to unify the databases was a Herculean task. Identifying the “right truth”
        and unifying the registers could take a large chunk of time. With all offices at loggerheads due to personality
        issues and vested interests, unifying to achieve a single database; getting all the offices to cooperate was
        considered IMPOSSIBLE. Resistance to unification from every single office and managers was so high. Inhouse
        development team had failed; at least two vendors had left the project soon after starting and, in the
        Customer’s, own words “ran away”.

        SBNT took up the challenge and completed it successfully. One of the managers remarked “you deserve a Nobel
        prize for doing what all of us considered IMPOSSIBLE”. A remarkably successful change management approach.</p>
    <hr>

    <h1 class="heading1">Real Savings: Millions Y-o-Y</h1>
    <p class="content">BSY Ship Mgmt. company had always focused on quality operations and worked to combine great
        efficiency with a young, safe fleet. As a Shipping software specialist, we were assisting them to create
        increased value.

        BSY Ship Mgmt. company, with a large in-house team, managed technical operations that included purchasing and
        stock management of spares, consumables etc. They were using manual methods of procurement like publishing of
        tenders, bidding and selecting the best quote to finalize a vendor. They also kept their budget and expenses
        separately and integration of budget and procurement was cumbersome.

        During their bidding process, vendors kept sending their quote using their own methods and the format of quotes
        differed from vendor to vendor. Comparison of such quotations was becoming a nightmare, consuming time, and
        resources. Getting the status of a particular request / bid was tough and unmanageable. To summarize, the
        response time between request and delivery was becoming unacceptable.

        SBNT automated their purchasing cycle starting from the Vessel requisition. Requisition was captured from its
        source to avoid errors and was transmitted to the office database through SBNT’s our own proven communication
        methodology.

        SPS (Stores & Procurement System) bidding process used automated methods of data exchange between office and
        vendors. SBNT e-market integration with Shipping e-markets (e.g. Shipserv) enabled offices to choose from 35000
        suppliers worldwide and get efficient and competitive quotes. Comparison of quotes on various criteria, reducing
        to a single currency and selecting the vendor was just a click away.

        Suitable approval systems based on order size, appropriate workflows, coupled with dynamic budgetary comparisons
        at the decision-making points made the system an immensely powerful tool.

        Once the vendors were assigned, the system could generate purchase orders automatically and send the PO to the
        vendor through e-market integration or directly as desired. Vendor’s response on the order will automatically
        update and the tracking of requisition, bid, order, goods receipt, and invoices looked like a natural thing to
        happen.

        Consequence: a workload handled manually by 42 persons in Procurement dept was now handled by a team of 8 and
        yet more efficiently.

        Similar savings using other software products of SBNT helped BS save Millions y-o-y on just payroll bills.</p>

    <hr>
    <h1 class="heading1">Another Innovative Idea</h1>
    <p class="content">SBNT data replication method was one of the most innovative ideas. This replication method was
        subsequently used across SBNT software. A two-way replication was easily possible with automatic conflict
        resolution. And this was configurable and highly flexible. By this feature it became very much possible to
        manage any complex network replication in a distributed network. (All competitor replications were one-way). The
        system could also automatically take care of missing data packets. The system was also used for vessel office
        replication with minimum data size to cut down expensive satellite communication.

        All this with proper control and data security being maintained at all levels, always.</p>

    <hr>

    <h1 class="heading1">Cost Effective Implementation</h1>
    <p class="content">
        BSY Ship Mgmt. company wanted to implement PMS software on their complete fleets. There were 336 ships under
        their management, and they wished to implement PMS on board within a period of two years. During this period,
        some vessels on which the system was already implemented would / could go out of Management; and new ones would
        come into management. They also wanted to keep the cost of implementation and training as low as possible. SBNT
        came up with a specific solution for this issue. SBNT suggested recruiting a team of 5 radio officers. They were
        given necessary training to install, train and implement on vessels. Learning from that experience, further
        changes were made to ensure implementation was possible without vessel visits – thus reducing costs and time for
        implementation.</p>

    <hr>
    <h1 class="heading1">Innovative Solution for a Difficult Problem</h1>
    <p class="content">
        UX company in Singapore was an existing client of the shipmate crewing system. They had multitudes of forms for
        reporting incidents and they were continually changing. It had become virtually impossible for them to manage
        these forms manually.

        A software system they had implemented and was in use for several years had required constant change to
        accommodate changing input forms. The issue was that the quality forms kept changing frequently. Apart from
        continuing costs, there was always a problem of the system not stabilising and not responding to the change
        requirements in time.

        The customer approached SBNT for a solution. SBNT developed new software with a unique innovative solution of
        “Forms engine”. In this system, forms could be designed in Excel-like screens and integrated with the system.
        The management of forms were handled by the system. This new software had the ability to do analysis based on
        any attributes in the form. This innovative solution really worked for the customer. Thus, the input, processes
        and output were completely configurable.</p>

    <hr>

</div>