.margin {
  margin-top: 150px;
  width: 50%;
  background-color: #56b1ad;
  margin-bottom: 25px;
}
.margin1 {
  margin-right: 10px;
  border-radius: 0%;
}
.margin1:hover {
  border-radius: 25px;
  transition: 1s ease-in-out;
  background-color: black;
}
input {
  color: lightgray;
}
label {
  color: white;
}
