.body {
  margin-top: 150px;
}
.button {
  border-radius: 0%;
}
.button:hover {
  background-color: black;
  border-radius: 25px;
  transition: 1s ease-in-out;
  color: white;
}
.container {
  background-color: #56b1ad;
  margin-bottom: 10px;
  width: 50%;
}
input:hover {
  cursor: pointer;
}
.btn1 {
  margin-left: 850px;
  margin-bottom: 15px;
}
label {
  color: white;
}
input {
  color: lightgray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
