.body {
  background-image: url(https://st2.depositphotos.com/1265075/7446/i/450/depositphotos_74468913-stock-photo-contact-us-icons-on-cubes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
}
.button {
  border-radius: 0%;
}
.button:hover {
  background-color: black;
  border-radius: 25px;
  transition: 1s ease-in-out;
  color: white;
}
.container {
  margin-top: 120px;
  background-color: #56b1ad;
  margin-bottom: 10px;
  width: 50%;
}
input:hover {
  cursor: pointer;
}
.btn1 {
  margin-left: 850px;
  margin-bottom: 15px;
}
label {
  color: white;
}
input {
  color: lightgray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.form-group-all {
  /* margin-top: 150px; */
  align-items: center;
}
.logoimg {
  width: 50%;
  height: 50%;
  margin-top: 10px;
}
