.navbar,
.color {
  position: fixed;
  top: 0;
  width: 100%;
  float: left;
  color: white;
  background-color: blue;
  height: 100px;
}

span {
  color: red;
}

.nav-link {
  color: white;
  font-weight: bold;
  font-size: larger;
}
.nav-link:hover {
  text-decoration: underline darkblue;
}

.navbar {
  /* position: fixed; */
  width: 100%;
  opacity: 95%;
}

.margin {
  margin-right: 10px;
  border-radius: 0%;
}
.margin:hover {
  border-radius: 25px;
  transition: 1s ease-in-out;
  background-color: black;
}
a:hover {
  /* background-color: darkblue; */
  text-transform: capitalize;
}
