<div class="container margin">
    <h1 style="text-align: center; color: white;">ADMIN LOGIN</h1>
    <hr>

    <form [formGroup]="formGroup">
        <div class="form-outline mb-4">
            <strong> <em class="bi bi-person-circle"></em> <label class="form-label" for="form2Example1">Email
                    address</label> </strong>

            <input type="email" id="form2Example1" placeholder="Enter admin email address" formControlName="email"
                class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <strong> <em class="bi bi-lock-fill"></em> <label class="form-label" for="form2Example2">Password</label>
            </strong>

            <input type="password" id="form2Example2" placeholder="Enter Password" class="form-control"
                formControlName="password" />
        </div>
        <hr>
        <button type="button" class="btn btn-primary  margin1 mb-4"
            (click)="adlogin(this.formGroup.value)">LOG-in</button>
    </form>
</div>