<div class="container margin">
    <h1 style="text-align: center;">Admin login</h1>

    <form [formGroup]="formGroup">
        <div class="form-outline mb-4">
            <em class="bi bi-person-circle"></em> <label class="form-label" for="form2Example1">Email address</label>

            <input type="email" id="form2Example1" formControlName="email" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <em class="bi bi-lock-fill"></em> <label class="form-label" for="form2Example2">Password</label>

            <input type="password" id="form2Example2" class="form-control" formControlName="password" />
        </div>
        <button type="button" class="btn btn-primary btn-block margin1 mb-4"
            (click)="adminlogin(this.formGroup.value)">LOG-in</button>
    </form>
</div>