.container {
  /* margin-bottom: 20px; */
  background-color: #a3cef1;
  width: 75%;
}
.body {
  /* background-color: hsla(177, 94%, 62%, 0.8); */
  margin-top: 130px;
  margin-bottom: 10px;
}
/* .body:hover {
  background-color: rgb(79, 157, 241);
}  */
input:hover,
textarea:hover,
select:hover {
  cursor: pointer;
}
th,
td {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
input,
textarea,
select {
  opacity: 0.8;
}
