.container {
  background-color: #a3cef1;
  width: 75%;
}
.body {
  margin-top: 130px;
  margin-bottom: 10px;
}

input:hover,
textarea:hover,
select:hover {
  cursor: pointer;
}
th,
td {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
input,
textarea,
select {
  opacity: 0.8;
}
.header {
  background-color: #0e79b2;
  color: white;
}
