<div class="body">
    <div class="container">
        <section>
            <h1>Our customers feedback so far</h1>
            <table class="table table-hover table-responsive">
                <caption>

                </caption>
                <thead>
                    <tr>
                        <th scope="col"><strong>Name</strong> </th>
                        <th scope="col"><strong>Product Name</strong></th>
                        <th scope="col"><strong>Feedback</strong></th>
                        <th scope="col"><strong>Rating</strong></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let user of viewVal">
                        <td>{{user.Name}}</td>
                        <td>{{user.productname}}</td>
                        <td>{{user.feedback}}</td>
                        <td>{{user.rating}}</td>
                    </tr>

                </tbody>
            </table>
        </section>
        <h1 style="text-align: center;">User Feedback Section</h1>
        <p style="text-align: center;">Please provide your valuable feedback here!!!</p>
        <form class="container" [formGroup]="formGroup">
            <div class="form-group">
                <strong> <label for="firstName">Name*</label></strong>
                <input id="firstName" class="form-control" formControlName="Name" placeholder="user name Required"
                    required />
                <div class="help-block text-danger" *ngIf="Name.touched">
                    <span *ngIf="Name.errors?.required">
                        Name is REQUIRED!!!
                    </span>
                </div>
            </div>

            <strong> <label>Choose a product*</label></strong>
            <select class="form-select" aria-label="Default select example" formControlName="productname">
                <option *ngFor="let user of dropdown" value="{{user.addproduct}}">{{user.addproduct}}</option>

            </select>


            <div class="form-group">
                <strong><label for="exampleFormControlTextarea1">Your Feedback!!!</label></strong>
                <textarea class="form-control" formControlName="feedback" placeholder="Enter Your Feedback here"
                    id="exampleFormControlTextarea1" rows="3"></textarea>

            </div>
            <strong> <label for="exampleFormControlTextarea1"> Please give a rating</label></strong><br>

            <div class="form-check form-check-inline">

                <input class="form-check-input" type="radio" formControlName="rating" name="rating" id="inlineRadio1"
                    value="⭐">
                <label class="form-check-label" for="inlineRadio1">Very Bad</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="rating" name="rating" id="inlineRadio2"
                    value="⭐⭐">
                <label class="form-check-label" for="inlineRadio2">Bad</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="rating" name="rating" id="inlineRadio2"
                    value="⭐⭐⭐">
                <label class="form-check-label" for="inlineRadio2">Average</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="rating" name="rating" id="inlineRadio2"
                    value="⭐⭐⭐⭐">
                <label class="form-check-label" for="inlineRadio2">Good</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="rating" name="rating" id="inlineRadio2"
                    value="⭐⭐⭐⭐⭐">
                <label class="form-check-label" for="inlineRadio2">Excellent</label>
            </div>

            <button class="btn btn-primary mb-3 mt-3" (click)="storing(this.formGroup.value)">Submit Feedback</button>
        </form>
    </div>
</div>