<h1 style="color: blue; text-align:center; margin-top: 150px;">Ship Management System for Fleet/ Vessel Management |
    SHIPMATE</h1>

<div class="container">
    <p class="text">No matter how small or large your fleet size, as a ship owner or manager, making accurate
        decisions on time is paramount. With the maritime industry becoming increasingly competitive, the need to make
        your
        operations smarter, leaner, and more efficient is stronger than ever.

        Data is your friend in the race to remain profitable and outperform competition in today’s challenging
        environment.
        But, how do you turn swaths of ship management data into operational insights that keeps you ahead? How do you
        make
        sure that technical, operational, safety, and compliance aspects of your fleet management are met properly? And,
        how
        do you do it all with limited time and budget without putting any dent to your revenue and reputation? At
        Shipmate,
        we have the answers for you because our goal is to help you stay on top of your game!</p>
</div>

<div class="context">
    <div class="container">
        <h1 style="color: blue; text-align:center; margin-top: 150px;">Ship Management from Anywhere — Be it Office or
            Vessel</h1>
        <p class="text">Shipping fleet management can be a daunting task, but not anymore. Ship management has come a
            long way over
            the years. With the latest tech in the industry, managers and fleet owners can significantly improve fleet
            control. With a heightened overview, you get great peace of mind.</p>

        <p class="text">If you are wondering what is ship management software, you are in for a treat. Unlike a decade
            ago, where
            most things were manual, now the world has become more organized, thanks to the rise of the internet and
            software technologies. The overly complex systems that track, manage and direct the shipping business are
            becoming older every day. Smart owners and managers are adopting a ship management system that is powerful
            enough to handle everything.</p>

        <p class="text">Shipmate is the leading fleet management marine system that gives fleet managers 360-degree
            control of their
            entire fleet. With a host of features and advanced functionalities, you can enjoy a high level of
            supervision.</p>

    </div>
</div>

<div class="container">
    <h1 style="color: blue; text-align:center; margin-top: 150px;"> Why Choose Shipmate Ship Management Software?</h1>
    <p class="text">Fleet owners and managers today are in dire need of optimizations in the process of fleet
        maintenance, crew
        supervision and inventory management. With Shipmate’s vessel management system, all this becomes so effortless
        that you would see a rise in the efficiency of your fleet. When there is a significant improvement in workflow,
        the company makes more profit!

        Worried about your crew competency? We hear you! This is one of the biggest concerns of captains and fleet
        managers worldwide. The shipmate crew competency management system lets you define and check the competency of
        your onboard staff. You can also schedule training to help your seafarers stay updated.

        The captain can keep track of the work hours for his crew with the Crew work-rest hours software that ensures
        the optimum rest hours besides complying with STCW/ILO guidelines effortlessly. What’s more, the owners can
        connect with the onboard system right from the office.</p>
</div>