.container {
  margin-top: 150px;
  margin-bottom: 25px;
  width: 50%;
  background-color: #56b1ad;
}
.btn-dark {
  margin-top: 150px;
  margin-left: 5px;
}
.logout {
  position: absolute;
  right: 350px;
  margin-top: 10px;
}
.offcanvas-body {
  top: 100%;
}
.btn1 {
  display: flex;
  margin-right: 5px;
  border: 2px solid black;
}
