.container {
  margin-top: 150px;
  margin-bottom: 25px;
  width: 50%;
  background-color: #56b1ad;
}
.btn-dark {
  margin-top: 150px;
  margin-left: 5px;
}
.logout {
  position: absolute;
  right: 350px;
  margin-top: 10px;
}
