<table class="table table-hover container table-responsive">
    <caption>
    </caption>


    <thead>
        <tr>
            <th scope="rowgroup">Name</th>

            <th scope="rowgroup">Email Address</th>
            <th scope="rowgroup">Mobile Number</th>
            <th scope="rowgroup">address</th>
            <th scope="rowgroup">Product Booked</th>


        </tr>
    </thead>

    <tbody>

        <tr>
            <td>{{temp.name}}</td>
            <td>{{temp.email}}</td>
            <td>{{temp.mobile}}</td>
            <td>{{temp.address}}</td>
            <td>{{temp.product}}</td>

        </tr>
    </tbody>
</table>
<!-- <button class="btn btn-dark mb-3 bi bi-arrow-left" (click)="goBack()"> Back</button> -->