<div class="container">
    <h1 class="center">VIEW</h1>
    <table class="table table-hover  table-responsive">

        <caption>
        </caption>


        <thead>

            <tr>
                <th scope="rowgroup">Name</th>
                <td>{{temp.name}}</td>

            </tr>
            <tr>
                <th scope="rowgroup">Email Address</th>
                <td>{{temp.email}}</td>


            </tr>
            <tr>
                <th scope="rowgroup">Mobile Number</th>
                <td>{{temp.mobile}}</td>


            </tr>
            <tr>

                <th scope="rowgroup">address</th>
                <td>{{temp.address}}</td>


            </tr>
            <tr>
                <th scope="rowgroup">Product Booked</th>
                <td>{{temp.product}}</td>

            </tr>
            <tr>

            </tr>


        </thead>


    </table>
    <button class="btn btn-dark bi bi-arrow-left mb-3" (click)="back()">Back</button>
</div>