<div class="container" style="margin-top: 150px;">
    <h1>OUR PRODUCTS</h1>
    <div class="grid-container">
        <div class="grid-item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/Shipmanagement.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ship Management System</h5>
                    <p class="card-text">Price:$150</p>
                    <p class="card-text">Please hit product info for more information</p>
                    <a href="shipmanagement" class="btn btn-primary">Product Info</a>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/shipinventory.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ship Inventory Management Software</h5>
                    <p class="card-text">Price:$170</p>
                    <p class="card-text">Please hit product info for more information</p>
                    <a href="inventory" class="btn btn-primary">Product Info</a>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/vessel.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Vessel Performance and Management System</h5>
                    <p class="card-text">Price:$250</p>
                    <p class="card-text">Please hit product info for more information</p>
                    <a href="vessel" class="btn btn-primary">Product Info</a>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/harbour.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ships document maintainence system</h5>
                    <p class="card-text">Price:$350</p>
                    <p class="card-text">Please hit product info for more information</p>
                    <a href="document" class="btn btn-primary">product info</a>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/storeandprocument1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Stores and Procurment Management System</h5>
                    <p class="card-text">Price:$550</p>
                    <p class="card-text">Please hit product info for more information</p>
                    <a href="stores" class="btn btn-primary">product info</a>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/shipsafety.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Crew management and Payroll</h5>
                    <p class="card-text">Price:$220</p>
                    <p class="card-text">Please hit product info for more information</p>
                    <a href="crew" class="btn btn-primary">Product info</a>
                </div>
            </div>
        </div>
    </div>
    <h1 style="text-align:center" class="font">PRODUCT BOOKING FORM</h1>
    <form [formGroup]="formGroup">
        <div class="mb-3">
            <label for="exampleInputFirstName1" class="form-label">Name*</label>
            <input type="text" class="form-control" formControlName="name" id="exampleInputFirstName1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address*</label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleInputmobile1" class="form-label">Mobile Number*</label>
            <input type="number" formControlName="mobile" class="form-control" id="exampleInputmobile1">
        </div>
        <div class="mb-3">
            <label for="exampleInputleadsource1" class="form-label">Address*</label>
            <input type="text" formControlName="address" class="form-control" id="exampleInputaddress1">
        </div>
        <label>Choose a product*</label>
        <select class="form-select" aria-label="Default select example" formControlName="product">
            <option selected>Choose a shipmate product</option>
            <option value="Ships management System">Ships management System</option>
            <option value="Ship Inventory Management Software">Ship Inventory Management Software</option>
            <option value="Vessel Performance and Management System">Vessel Performance and Management System</option>
            <option value="Ship Document Maintainence System">Ship Document Maintainence System</option>
            <option value="Crew Management and Payroll">Crew Management and Payroll </option>
        </select>
        <button type="button" (click)="storing(this.formGroup.value,id)" class="btn btn-primary mt-3 mb-3">Confirm
            Booking
        </button>
        <button class="btn btn1 btn-dark " (click)="cancel()">CANCEL</button>
    </form>
</div>