<div class="container" style="margin-top: 150px;">

    <div class="grid-container">

        <div *ngFor="let user of viewVal">

            <div class="grid-item">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{user.image}}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Product Name:{{user.addproduct}}</h5>
                        <p class="card-text text text-success">Price:₹{{user.price}}</p>
                        <p class="card-text">Description:{{user.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 style="text-align:center" class="font">PRODUCT BOOKING FORM</h1>
    <form [formGroup]="formGroup">
        <div class="mb-3">
            <label for="exampleInputFirstName1" class="form-label">Name*</label>
            <input type="text" class="form-control" formControlName="name" id="exampleInputFirstName1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address*</label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleInputmobile1" class="form-label">Mobile Number*</label>
            <input type="number" formControlName="mobile" class="form-control" id="exampleInputmobile1">
        </div>
        <div class="mb-3">
            <label for="exampleInputleadsource1" class="form-label">Address*</label>
            <input type="text" formControlName="address" class="form-control" id="exampleInputaddress1">
        </div>

        <label>Choose a product*</label>


        <select class="form-select" aria-label="Default select example" formControlName="product">
            <option *ngFor="let user of viewVal" value="{{user.addproduct}}">{{user.addproduct}}</option>

        </select>


        <button type="button" (click)="storing(this.formGroup.value,id)" class="btn btn-primary mt-3 mb-3">Confirm
            Booking
        </button>
        <button class="btn btn1 btn-dark " (click)="cancel()">CANCEL</button>
    </form>
</div>