.container {
  background-color: azure;
  margin-bottom: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-repeat: no-repeat;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  text-align: center;
}
.grid-item:hover {
  transition: 1s ease-in;
  border-radius: 2px;
  box-shadow: 0 0 10px #000000;
}
.font {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn1 {
  margin-left: 5px;
}
