.container {
  background-color: #56b1ad;
  margin-bottom: 20px;
  margin-top: 130px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  text-align: center;
}
.grid-item:hover {
  /* background-color: azure; */
  transition: 1s ease-in;
  border-radius: 2px;
}
.font {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn1 {
  margin-left: 5px;
}

.user {
  margin-left: 600px;
  background-color: #7532f9;
  color: white;
  padding: 10px;
  width: 500px;
  border: 2px solid black;
  align-items: right;
}
.move {
  margin-right: 10px;
}
.logoimg {
  background-color: white;
  margin-top: 110px;
}
