.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  text-align: center;
}
.grid-item:hover {
  background-color: azure;
  transition: 1s ease-in;
  border-radius: 2px;
  /* box-shadow: 0 0 10px #000000; */
}
.container {
  margin-top: 150px;
  margin-bottom: 50px;
}
